body{
  background-color: rgb(228, 222, 222);
  text-align: center;
}

.container{
background-color: #fff;
border-radius: 15px;
box-shadow:0 0 20px rgba(0,0,0,0.2) ;
padding:20px 40px ;
transition: transform 0.2s;
width:500px ;
text-align:center ;
margin: auto;
margin: top 20px; 
}
h1{
  font-size:x-large ;
  text-align: center;
  color:rgb(41, 1, 41) ;
}
label{
  font-size:15px ;
  display:block ;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight:bold ;
}

input{
  display: block;
  width:100% ;
  padding:8px ;
  box-sizing:border-box ;
  border:1px solid #ddd ;
  border-radius: 3px;
  font-size: 12px;
}
input[type="radio"]{
  display: inline;
  width: 10%;
}

select{
display:block ;
width:100%;
margin-bottom: 15px;
padding:10px ;
box-sizing: border-box;
border:1px solid #ddd ;
border-radius: 5px;
}

textarea{
resize: none;
width: 98%;
min-height:100% ;
max-height:150% ;
}

button{
padding:10px 15px ;
border-radius:6px ;
margin:15px ;
border:none ;
color:white ;
cursor:pointer ;
background-color: rgb(234, 36, 234);
width: 40%;
font-size: 16px;
}

button:hover{
  background-color: rgb(58, 34, 58);
}